@page
@{
    ViewData["Title"] = "Registration Successful";
}
<div class="registrationsuccess-page-container">
<h1>Registration Successful</h1>
<p>Thank you for registering your account!</p>
<a href="/">Go to Home</a>
</div>